.custom-button {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.custom-heading {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}

.custom-card {
  color: #000;
  background-color: RGBA(248, 249, 250, var(--bs-bg-opacity, 1)) !important;
  border: 0 !important;
  margin-bottom: 2rem !important;
}

.custom-card-body {
  text-align: center;
  padding: 1.5rem;
  padding-top: 0;
  position: relative;
  min-height: 100px;
}

#retry-btn {
  margin-left: 15px;
}

#answer-msg {
  margin-top: 40px;
}
