.container {
  max-width: 900px !important;
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px !important;
  }
}

.custom-card {
  background-color: RGBA(248, 249, 250, var(--bs-bg-opacity, 1)) !important;
  margin-bottom: 2rem;
}

.custom-card-body {
  min-height: 100px;
}

.custom-btn {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  border-radius: 15px !important;
  width: 130px;
}

.hint-msg {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}

@media (min-width: 768px) {
  .hint-msg {
    font-size: 15px;
  }
}

#retry-btn {
  margin-left: 15px;
}

#answer-msg {
  margin-top: 40px;
}
