.container {
  max-width: 900px !important;
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px !important;
  }
}

.custom-card {
  background-color: RGBA(248, 249, 250, var(--bs-bg-opacity, 1)) !important;
  margin-bottom: 1.5rem;
}

.custom-card-body {
  height: 60px;
  padding: 0 !important;
}

.custom-btn {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  border-radius: 15px !important;
  height: 30px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-size: 0.6rem !important;
}

@media (min-width: 768px) {
  .custom-btn {
    font-size: 1rem !important;
  }
}

.hint-msg {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 0.6rem !important;
}

@media (min-width: 768px) {
  .hint-msg {
    font-size: 1rem !important;
  }
}

#answer-btn {
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  #answer-btn {
    font-size: 1rem;
  }
}

#retry-btn {
  margin-left: 15px;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  #retry-btn {
    font-size: 1rem;
  }
}

#answer-msg {
  margin-top: 20px;
  font-size: 1rem !important;
  font-weight: 700;
}

.custom-row {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.intro-msg {
  font-size: 0.5rem !important;
}

@media (min-width: 768px) {
  .intro-msg {
    font-size: 1rem !important;
  }
}
